touch .dockerignore
# agrega el nombre de los archivos que que requieras
 
# Ejemplo de contenido
# Omitir estos archivos
.git/
.gitignore
Dockerfile
.dockerignore
README.md
LICENSE
 
# Omitir directorios de desarrollo
node_modules/  # Si usas Node.js
 
# Archivos temporales
*.tmp
*.temp